{% load static %}

{% url 'themen_overview' as themen_url %}
{% url 'fragebogen' as fragebogen_url %}
{% url 'teams' as teams_url %}
{% url 'student' as student_url %}
{% url 'teamerstellung' as teamerstellung_url %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if request.path == themen_url %} 
        <title>Teamverwaltung - Projekte</title>
    {% elif request.path == fragebogen_url %}
        <title>Teamverwaltung - Fragebogen</title>
    {% elif request.path == teams_url %}
        <title>Teamverwaltung - Teams</title>
    {% elif request.path == student_url %}
        <title>Teamverwaltung - Studenten </title>
    {% endif %}
    <link rel="stylesheet" href="{% static 'teamverwaltung_main/css/verwaltungstyle.css' %}">
    <link rel="stylesheet" href="{% static 'teamverwaltung_main/css/global.css' %}">
    <link rel="stylesheet" href="{% static 'teamverwaltung_main/css/modal.css' %}">
    <script src="https://kit.fontawesome.com/aed942cfc8.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"
			integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
			crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"
            integrity="sha256-6XMVI0zB8cRzfZjqKcD01PBsAy3FlDASrlC8SxCpInY="
            crossorigin="anonymous"></script>
    <script src="{% static 'teamverwaltung_main/js/modals.js' %}"></script>
    <script src="{% static 'teamverwaltung_main/js/dragdrop.js' %}"></script>
    <script src="{% static 'teamverwaltung_main/js/questionnaire.js' %}"></script>
</head>
<body>
    {% include 'teamverwaltung_main/components/sectioncontrol.html' %}

    {% include 'teamverwaltung_main/components/poll_progress.html' %}
    {% block pollprogress %}{% endblock %}

    <header>
        <h2>Verwaltung</h2>
        <nav>
            <div class="dropdown">
                <div class="dropdown-header">
                    <h4>
                        {% if request.path == themen_url %} 
                            Projekte
                        {% elif request.path == fragebogen_url %}
                            Fragebogen
                        {% elif request.path == teams_url %}
                            Teams
                        {% elif request.path == student_url %}
                            Studenten
                        {% endif %}
                    </h4>
                    <i class="fa-solid fa-bars-staggered"></i>
                </div>
                <div class="option">
                    <a {% if request.path == themen_url %} style="font-weight: 600; text-shadow: 0 0 5px grey;" {% endif %} href="{% url 'themen_overview' %}"><div>Projekte</div></a>
                    <a {% if request.path == student_url %} style="font-weight: 600; text-shadow: 0 0 5px grey;" {% endif %} href="{% url 'student' %}"><div>Studenten</div></a>
                    <a {% if request.path == fragebogen_url %} style="font-weight: 600; text-shadow: 0 0 5px grey;" {% endif %} href="{% url 'fragebogen' %}"><div>Fragebogen</div></a>
                    <a {% if request.path == teams_url %} style="font-weight: 600; text-shadow: 0 0 5px grey;" {% endif %} href="{% url 'teams' %}"><div>Teams</div></a>
                    <a href="/admin"><div>Django-Admin</div></a>
                    <a href="{% url 'app_home' %}"><div>Startseite</div></a>
                    <a href="{% url 'logout' %}"><div>Abmelden</div></a>
                </div>
            </div>
        </nav>
    </header>

    {% block content %}
    {% endblock %}

    <script src="{% static 'teamverwaltung_main/js/script.js' %}"></script>
</body>