<html>

<body>
    <h1>Zuordnungen</h1>
    <table>
        <tr>
            <th>Student</th>
            <th>s-Nummer</th>
            <th>Projekt</th>
            <th>Rolle</th>
        </tr>
        {% for element in query %}
        <tr>
            <td>{{element.student.name}}</td>
            <td>{{element.student.s_num}}</td>
            <td>{{element.project.name}}</td>
            <td>{{element.role.role}}</td>
        </tr>
        {%endfor%}

    </table>

    <form method="post">
        {% csrf_token %}
        <button type="submit" name="run_algo">run algo</button>
    </form>

</body>



</html>