body {
    background-image: url('../res/svg/darkmode.svg');
    background-repeat: no-repeat;
    background-size: cover; 
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
}

.container {
    width: 80%;
    height: 90%;
    background-color: rgba(0, 0, 0, 0.2);
}

/* all dispays start */
.modal-bearbeitung, .modal-neu, .frag-indepth {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    -webkit-backdrop-filter: blur(100px);
    -moz-backdrop-filter: blur(100px);
    -o-backdrop-filter: blur(100px);
    -ms-backdrop-filter: blur(100px);
    backdrop-filter: blur(100px);
    display: none;
}

.modal-bearbeitung > * {
    z-index: 50;
}

#modal-neu {
    display: none;
}

#modal-neu > * {
    z-index: 50;
}

.verwalten-container-fullsize {
    margin-top: 85px;
}

.verwalten-container-fullsize .container form {
    width: 70%;
}

#frag-indepth > * {
    z-index: 50;
}
/* all dispays end */


.center-modal {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* explaination stuff start */
.explain .container header h3 {
    font-size: 1.5em;
}

.explain .container .transparent-container h4 {
    padding: 0 45px;
    font-size: 1.2em;
    font-weight: 550;
}

.explain .container .transparent-container p {
    padding: 0 55px;
    margin-top: 5px;
    margin-bottom: 20px;
}


.indepth-table {
    margin: 10px 30px;
    border-radius: 30px;
    background-color: #00000046;
    box-shadow: 0 0 8px #000;
}

.indepth-flat-table {
    margin-bottom: 20px;
    border-collapse:collapse;
    border: none;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    
}
/* line between the rows */
.indepth-flat-table th, .indepth-flat-table td {
    box-shadow: inset 0 -1px rgba(0,0,0,0.25), inset 0 1px rgba(0,0,0,0.25);
}

.indepth-flat-table th {
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 1.2em;
    font-weight: 600;
    padding: 1em;
    min-width: 150px;
}

.indepth-flat-table th:first-child {
    border-radius: 30px 0px 0px 0px;
}

.indepth-flat-table th:last-child {
    border-radius: 0px 30px 0px 0px;
}

.indepth-flat-table td {
    padding: 0.7em 1em 0.7em 1.15em;
    max-height: 10px;
    cursor: default;
}

.indepth-flat-table tr {
    text-align: left; 

    transition: 1.5s;
}

.indepth-flat-table tr:last-of-type {
    border-bottom: #000;
}

.indepth-flat-table tr:hover {
    background: rgba(0, 0, 0, 0.4);
}




.first, .second, .student, .third, .fourth {
    width: 200px;
    height: 50px;
    margin: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

.first {background-color:darkkhaki;}
.second {background-color:darkcyan;}
.student {background-color:darkslateblue;}