{% block detailModal %}
<div id="frag-indepth" class="explain">
    <div class="center-modal">
        <div class="container">
            <header>
                <h3 id="quesStudent">M</h3>
                <span class="closeBtn" onclick="closeModalStudent()">&times;</span>
            </header>
            <div class="transparent-container">
                <h4>Studiengang</h4>
                <p>Wirtschaftsinformatik</p>

                <h4>Projektwahl</h4>
                <div class="indepth-table">
                    <table class="indepth-flat-table">
                        <thead>
                            <tr>
                                <th>Bewertung</th>
                                <th>Projekt</th>
                            </tr>
                        </thead>
                        <tbody id="quesProjects">
                        </tbody>
                    </table>
                </div>


                <h4>Rollenwahl</h4>
                <div class="indepth-table">
                    <table class="indepth-flat-table">
                        <thead>
                            <tr>
                                <th>Bewertung</th>
                                <th>Rolle</th>
                            </tr>
                        </thead>
                        <tbody id="quesRoles">
                        </tbody>
                    </table>
                </div>


                <h4>Fähigkeiten</h4>
                <div class="indepth-table">
                    <table class="indepth-flat-table">
                        <thead>
                            <tr>
                                <th>Bewertung</th>
                                <th>Fähigkeit</th>
                            </tr>
                        </thead>
                        <tbody id="quesSkills">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}