{% extends 'base_verwaltung.html' %}

{% block content %}

<div class="verwalten-container">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div><input type="file" name="students" accept=".csv" required></div>
        <div>
            <input type="radio" name="csv_insert_mode" value="append" checked> Anhängen<br>
            <input type="radio" name="csv_insert_mode" value="overwrite"> Überschreiben<br>
        </div>
        <div>
            <input type="submit" value="Submit">
        </div>
    </form>
</div>



{% endblock %}