{% load static %}

<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<link rel="stylesheet" href="{% static 'teamverwaltung_main/css/notify.css' %}">

{% block notify_success %}
<div class="wrapper">
    <div id="toast">
        <div class="container-1">
            <i class="fas fa-check-square"></i>
        </div>
        <div class="container-2">
            <p id="notifySuccessHead">Success</p>
            <p id="notifySuccessBody">Your changes are saved successfully.</p>
        </div>
        <button id="close" onclick="closeToast()">
            &times;
        </button>
    </div>
</div>
{% endblock %}

    
<!--<button id="show-toast" onclick="showToast()">Show Toast Message</button>-->
<!--Script-->
<script src="{% static 'teamverwaltung_main/js/notify.js' %}"></script>


