body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .login-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 400px;
    border: 2px solid #ccc;
    border-radius: 5px;
  }

  .login-box input[type="text"], 
  .login-box input[type="password"], 
  .login-box label {
    display: block;
    margin: 10px;
  }

  .login-box button {
    margin-top: 20px;
    background-color: #4c82af;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
  }