@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
    color: #F2F0F6;
}


h1 {
    font-size: 51px;
    font-weight: 800;
    text-shadow: 1px 1px 3px #000;
    text-transform: uppercase;
}

h2 {
    font-size: 38px;
    font-weight: 700;
    text-shadow: 1px 1px 2px #000;
}

h3 {
    font-size: 20px;
    font-weight: 600;
    text-shadow: 1px 1px 2px #000;
}

p {
    font-size: 17px;
    font-weight: 400;
    text-shadow: 1px 1px 1px #000;
}

a {text-decoration: none;}
ul {list-style: none;}


html {scroll-behavior: smooth;}

body {
    width: 100%;
    min-width: 100%;
    min-height: 100%;
    background-color: #1D2028;
    display: flex;
    flex-direction: column;
    position: relative;
}

header {
    width: 100%;
    max-width: 1440px;
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

header h2 a, header h2, header h3 a, header h3 {
    transition: .5s;
    position: relative;
    cursor: default;
}

header h2 a:hover, header h2:hover, header h3 a:hover, header h3:hover {
    text-shadow: 0 0 3px white;
}
header h2 a {font-size: 40px;}

.themenansicht, .fragebogen, .teamansicht {
    position: relative;
    width: 100%;
    padding: 50px 0px 0px 0px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.themenansicht .container, .teamansicht .container, .fragebogen .container {
    width: 80%;
    max-width: 1152px;
    margin-top: 20px;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.5);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: linear-gradient(120deg, rgba(239, 239, 239, 0.3) 10%, rgba(239, 239, 239, 0.1) 70%);
    background-clip: padding-box;
    -webkit-backdrop-filter: blur(100px);
    -moz-backdrop-filter: blur(100px);
    -o-backdrop-filter: blur(100px);
    -ms-backdrop-filter: blur(100px);
    backdrop-filter: blur(100px);
    border-radius: 30px;
    border-left: solid 1px rgb(150, 149, 149);
    border-top: solid 1px rgb(150, 149, 149);
    border-left-style: groove;
    border-top-style: groove;
    box-shadow: 1px 1px 5px #000000;
    transition: 1.0s ease;
}

section .container {
    height: 600px;
    padding: 100px 50px;
    background-color: rgba(0, 0, 0, 0.2);
    text-align: center;
}
section .container:hover {box-shadow: 0 0 15px #000;}

.verwalten-container {
    width: 100%;
    max-width: 1440px;
    margin: 0px 2px 10px 0px;
    padding: 10px 0px 0px 1.5%;
    gap: 0.5%;

    position: relative;
    display: flex;
    justify-content: center;
    border-radius: 30px;
}

.verwalten-container-fullsize {
    width: 100%;
    height: 700px;
    max-width: 1440px;

    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}

.verwalten-container-fullsize .container {
    width: 80%;
    height: 95%;
}
.verwalten-container-fullsize .container form {width: 70%;}

#specific-container-fragebogen {
    width: fit-content;
    overflow: scroll;
}

.verwalten-container .container {
    width: 95%;
    min-height: 641px;
    margin-top: 1px;
    flex-wrap: wrap;
    background-color: rgba(239, 239, 239, 0.1);
}

.cards {
    background-color: #00000050;
    border-radius: 30px;
    border-left: solid 1px rgb(150, 149, 149, 0.5);
    border-top: solid 1px rgba(150, 149, 149, 0.5);
    border-left-style: groove;
    border-top-style: groove;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    box-shadow: 1px 1px 5px #000000;
}

.explain {
    /* also used for in depth view of the result of the survey*/
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    -webkit-backdrop-filter: blur(50px);
    -moz-backdrop-filter: blur(50px);
    -o-backdrop-filter: blur(50px);
    -ms-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
}

.explain .container {
    width: 700px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: unset;

    overflow-y: scroll;
}

.explain .container header {
    position: unset;
    top: unset;
    left: unset;
    padding: unset;
    padding: 0 40px;
}

.transparent-container {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
}

.titel-placeholder {
    width: 100%;
    position: relative;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    border-radius: 30px;
}

.titel-placeholder h3 {
    max-width: 100%;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 30px 0 30px;
    text-shadow: 1px 1px 5px black;
    margin-bottom: 5px;


}

.titel-placeholder h3:hover {
    overflow-wrap: break-word;
    white-space: unset;

}

.short-description-placeholder {
    width: 100%;
    padding: 0 10%;
    height: 200px;
    box-shadow: 0 0 2px #000;
    position: relative;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    border-left: solid 1px rgb(150, 149, 149, 0.5);
    border-top: solid 1px rgba(150, 149, 149, 0.5);
    border-left-style: groove;
    border-top-style: groove;
    cursor: pointer;
    overflow-y: scroll;
}

.short-description-placeholder p {
    padding: 15px 0px;
    font-size: 15px;
    margin-bottom: 10px;
    text-shadow: 1px 1px 5px black;
}


.teammember-placeholder {
    position: relative;
    width: 100%;

    box-shadow: 0 0 2px black;
    flex: 1 1 auto;

    display: flex;
    align-items: center;
    cursor: default;
    border-left: solid 1px rgb(150, 149, 149, 0.5);
    border-top: solid 1px rgba(150, 149, 149, 0.5);
    border-left-style: groove;
    border-top-style: groove;
}

.teammember {
    box-shadow: 0 0 3px 0 black;
    border-radius: 30px;
    border-left: solid 1px rgb(150, 149, 149, 0.5);
    border-top: solid 1px rgba(150, 149, 149, 0.5);
    border-left-style: groove;
    border-top-style: groove;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5px;
}

.teammember p {
    font-weight: 550;
    font-size: 14px;
    text-shadow: 1px 1px 5px black;
}

.teammember:first-child {
    box-shadow: 1px 1px 5px black;
    background-color: rgba(255, 255, 255, 0.1);
}

.teammember:last-child {
    background-color: rgba(4, 3, 3, 0.3);
    box-shadow: 1px 1px 3px black;
}



.verwalten-container .container form {width: 60%;}

.input-group {
    position: relative;
    width: auto;
}

.input-group > * {outline: none;}

.input-group .input-text, .input-group .textarea {
    font-size: 14px;
    position: relative;
    width: 100%;
    box-shadow: 0 0 5px #000;
    background: transparent;
    border-radius: 30px;
    border: 2px solid transparent;
    transition: .75s ease;
    padding: 18px 12px;
}

.input-group .input-text, .textarea:focus {
    filter: drop-shadow(0 0 4px rgb(0, 0, 0, 0.5));
}

.input-text:focus+.input-placeholder, .textarea:focus+.textarea-placeholder {
    top: 6px;
    font-size: 10px;
    transition: .1s ease;
    opacity: 1;
}

.input-text:valid+.input-placeholder, .textarea:valid+.textarea-placeholder {
    opacity: 0;
    transition: .75s ease;
}

.input-placeholder, .textarea-placeholder {
    position: absolute;
    font-size: 14px;
    top: 20px;
    left: 14px;
    letter-spacing: 0.1mm;
    opacity: 0.8;
    transition: .1s ease;
    cursor: auto;
}

.textarea {
    height: 140px;
    resize: none;
    padding: 18px 12px;
}

button {
    appearance: none;
    border: none;
    outline: none;
    background: none;

    display: flex;
    color: #fff;
    text-shadow: 1px 1px 5px black;
    align-items: center;
    letter-spacing: 0.4mm;
    justify-content: space-between;
    transition: .75s ease;
    border: 2px solid transparent;
    font-size: 14px;
    padding: 14px 22px;
    cursor: pointer;
    width: 60%;
    max-width: 150px;
    transition: .2s ease;
    border-radius: 8px;
}

button:hover, button:focus {
    filter: drop-shadow(0 0 10px #171f22);
}

button .fa-arrow-right {
    margin-top: 1px;
    animation: arrow-right 2.5s infinite;
}

.closeBtn {
    font-size: 3em;
    transition: 0.5s;
    cursor: pointer;
}

.puffer {width: 100%; height: 100px; visibility: hidden;}

/* fancy */
.fancy-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 5px;
    width: 100%;
    height: 2px;
    border-radius: 50px;
    box-shadow: 0 0 5px white;
    background: currentColor;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: right;
    transform-origin: right;
    transition: -webkit-transform 250ms ease-in;
    transition: transform 250ms ease-in;
    transition: transform 250ms ease-in, -webkit-transform 250ms ease-in;
}

.fancy-link:hover::after {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: left;
    transform-origin: left;
}


/* icons start */
.fa-pen-to-square, .fa-angle-down, .fa-plus, .fa-minus, .fa-check, .fa-arrows-rotate, .fa-arrow-up, .fa-angles-down {
    font-size: 2em;
    text-shadow: 1px 1px 5px black;
    transition: 0.5s ease-out;
    cursor: pointer;
}

.fa-trash, .fa-wrench {
    font-size: 1.9em;
    text-shadow: 1px 1px 5px black;
    transition: 0.5s ease-out;
    cursor: pointer;
}


.fa-arrow-up {
    width: 50px;
    height: 50px;
    position: fixed;
    right: 1vw;
}

.fa-angle-down {
    font-size: 1.3em;
    text-shadow: 1px 1px 2px black;
    transition: 0.5s;
    margin-right: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.fa-bars-staggered {
    font-size: 1.5em;
    transition: transform 1s ease-out;
    cursor: pointer;
    z-index: 10;
    margin-left: 10px;
    transition: 1.5s;
}

.fa-pen-to-square:hover, .closeBtn:hover, .fa-arrow-up:hover, .fa-bars-staggered:hover {
    transform: translateY(-5px);
    transition: .5s;
}

.fa-angles-down:hover, .fa-angle-down:hover {
    transform: translateY(5px);
    transition: .5s;
}

.fa-plus:hover, .fa-check:hover, .fa-wrench:hover, .fa-arrows-rotate:hover, .fa-trash:hover {
    transform: translateX(-5px);
    transition: .5s;
}


progress::-webkit-progress-bar {
    background-color: white;
    border: none;
    border-radius: 20px;
    height: 10px;

}

progress::-webkit-progress-value {
    background-color: rgb(39, 129, 53) !important;
    border: none;
    border-radius: 20px;
}


/* For Firefox */
progress {
    background-color: white;
    border: none;
    border-radius: 20px;
    height: 10px;
}

progress::-moz-progress-bar {
    background-color: rgb(39, 129, 53) !important;
    border: none;
    border-radius: 20px;
}






body, .verwalten-container, .container, #specific-container-fragebogen, .container-for-teamcreation, .cards, .short-description-placeholder p, .fragebogen-table, .short-description-placeholder h3, .verwalten-modal-container, .fragebogen-table, #modal-bearbeitung, #modal-neu, .teammember-placeholder, .short-description-placeholder {
    -ms-overflow-style: none;
    scrollbar-width: none;
}


body::-webkit-scrollbar, .verwalten-container::-webkit-scrollbar, .container::-webkit-scrollbar, #specific-container-fragebogen::-webkit-scrollbar, .container-for-teamcreation::-webkit-scrollbar, .cards::-webkit-scrollbar, .short-description-placeholder p::-webkit-scrollbar, .fragebogen-table::-webkit-scrollbar, .short-description-placeholder h3::-webkit-scrollbar, .verwalten-modal-container::-webkit-scrollbar, .fragebogen-table::-webkit-scrollbar, #modal-bearbeitung::-webkit-scrollbar, #modal-neu::-webkit-scrollbar, .teammember-placeholder::-webkit-scrollbar, .short-description-placeholder::-webkit-scrollbar {
    display: none;
}



@keyframes arrow-right {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(3px);
    }

    25% {
        transform: translateX(5px);
    }

    75% {
        transform: translateX(3px);
    }

    to {
        transform: translateX(0);
    }
}


@keyframes scale {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}



@media only screen and (max-width: 1200px) {

    header h2 {font-size: 33px;}
    header h2 a {font-size: 33px;}

    .fa-pen-to-square, .fa-angles-down, .fa-arrow-up {font-size: 1.8em;}


    .start-container {flex-direction: column; margin-top: 0;}

    .text {
        width: 100%;
        height: unset;
        padding: 50px 100px 25px 100px;
        margin-right: unset;
        max-width: unset;
        text-align: center;
    }
    .text h1 {font-size: 41px; margin-top: unset;}
    .text h3 {font-size: 18px;}
    .text p {font-size: 15px;}

    .navi li a {font-size: 30px;}

    section {display: flex; justify-content: center; align-items: center;}
    section .container {width: 80%; height: 300px;}


    .themenansicht, .fragebogen, .teamansicht {padding-top: 0;}
    .themenansicht .container, .teamansicht .container, .fragebogen .container {margin-top: 0;}

    .cards {
        position: relative;
        min-width: 200px;
        min-height: 300px;
        max-width: 200px;
        max-height: 300px;
    }

    .titel-placeholder h3 {
        padding: 20px 15px 0px 15px;
        font-size: 15px;
        margin-top: -5px;
        margin-bottom: 10px;
    }

    .short-description-placeholder p {font-size: 14px;}
    .cell-full p {font-size: 15px;}
    .cell p {font-size: 13px;}
    .teammember p {font-size: 11px;}


    .fa-arrows-rotate, .fa-check, .fa-plus {font-size: 1.8em;}
    .fa-trash, .fa-wrench {font-size: 1.5em;}
}

@media only screen and (max-width: 950px) {
    .fragebogen-table {min-width: unset;}
    .flat-table thead th {font-size: 15px;}
    .flat-table tbody tr {font-size: 13px;}
    .sidenav {width: 4.5%;}
}

@media only screen and (max-width: 820px) {
    .verwalten-container-fullsize {margin-top: 110px;}
    .head h3 {font-size: 18px;}
    .content-container .bezeichnung p {font-size: 15px;}
}

@media only screen and (max-width: 750px) {
    header {padding: 40px 50px;}



    .bezeichnung span {font-size: 13px;}
    .cell p {font-size: 10px;}
    .fa-arrow-up {right: 0vw;}


    .sidenav {width: 4%;}
    .fa-plus, .fa-arrows-rotate, .fa-check {font-size: 1.5em;}
    .fa-trash, .fa-wrench {font-size: 1.2em;}
}

@-moz-document url-prefix() {
    .themenansicht .container, .teamansicht .container, .fragebogen .container {background-color: #1D2028;}
    section .container {background-color: #1D2028;}
    .sticky-nav {background-color: #1D2028;}

    #modal-bearbeitung, #modal-neu, #frag-indepth {
        background-image: url('..res/svg/darkmode.svg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .verwalten-container-fullsize .container, #frag-indepth .center-modal .container {background-color: #1D2028;}

    .dropdown .option {background-color: #1D2028;}

    .verwalten-container .container, .verwalten-container .container-for-teamcreation, .verwalten-container-fullsize .container {background-color: #1D2028;}
}