{% extends 'base_verwaltung.html' %}

{% block content %}

<div class="verwalten-container">
    <div class="container">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="fuploadcontainer">
                <div class="fupload">
                    <!--<input type="file" multiple name="fileUpload" id="fileUpload" value="">-->
                    <input type="file" name="students" accept=".csv" id="fileUpload" required>
                </div>
                <div class="checkit">
                    <div class="ueberschreiben">
                        <div class="chk">
                            <!--<input type="checkbox" name="ueberschreiben" id="ueberschreiben">
                            <label for="ueberschreiben">Überschreiben?</label>-->
                            <br/><input type="radio" name="csv_insert_mode" value="append" checked> Anhängen<br>
                            <input type="radio" name="csv_insert_mode" value="overwrite"> Überschreiben<br>
                        </div>
                    </div>
                </div>
                <div class="sub">
                    <div class="input-group">
                        <button type="submit" value="Senden">Senden<i class="fa-solid fa-arrow-right"></i></button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}
