<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../verwaltungstyle.css">
    <link rel="stylesheet" href="../../global.css">
    <script src="https://kit.fontawesome.com/aed942cfc8.js" crossorigin="anonymous"></script>
</head>
<body>    
    
    <div class="sectioncontroll">
        <div class="scthemen">
            <h4>Themenansicht:</h4>
            <input type="checkbox" class="checkbox" id="themenswitch" name="themen"/>
            <label class="label" for="themenswitch">
                <i class="fa-solid fa-xmark"></i>
                <i class="fas fa-check" id="switchcheck"></i>
                <div class="ball"></div>
                <!-- Element “div” not allowed as child of element “label” in this context. (Suppressing further errors from this subtree.) -->
            </label>
        </div>
        <div class="scfragebogen">
            <h4>Fragebogenansicht:</h4>
            <input type="checkbox" class="checkbox" id="fragebogenswitch" name="fragebogen"/>
            <label class="label" for="fragebogenswitch">
                <i class="fa-solid fa-xmark"></i>
                <i class="fas fa-check" id="switchcheck"></i>
                <div class="ball"></div>
            </label>
        </div>
        <div class="scteams">
            <h4>Teamansicht:</h4>
            <input type="checkbox" class="checkbox" id="teamsswitch" name="teams"/>
            <label class="label" for="teamsswitch">
                <i class="fa-solid fa-xmark"></i>
                <i class="fas fa-check" id="switchcheck"></i>
                <div class="ball"></div>
            </label>
        </div>
    </div>

    <header>
        <h2>Verwaltung</h2>
        <nav>
            <div class="dropdown">
                <div class="dropdown-header">
                    <h4>Themen</h4>
                    <i class="fa-solid fa-bars-staggered"></i>
                </div>
                <div class="option">
                    <a href="themen.html"><div>Themen</div></a>
                    <a href="../teams/teams.html"><div>Teams</div></a>
                    <a href="../fragebogen/fragebogen.html"><div>Fragebogen</div></a>
                    <!-- <div id="test" onclick="openImport()">Importieren</div> -->
                    <a href="../studenten/studenten.html"><div>Studenten</div></a>
                    <a href="../../index/index.html "><div>Startseite</div></a>
                    <a href="#"><div>Ausloggen</div></a>
                </div>
            </div>
        </nav>
    </header>

    <div class="verwalten-container">
        <div class="container">
            <div class="fuploadcontainer">
                <div class="fupload">
                    <input type="file" multiple name="fileUpload" id="fileUpload" value="">
                </div>
                <div class="checkit">
                    <div class="ueberschreiben">
                        <div class="chk">
                            <input type="checkbox" name="ueberschreiben" id="ueberschreiben">
                            <label for="ueberschreiben">Überschreiben?</label>
                        </div>
                    </div>
                    <div class="anhaengen">
                        <div class="chk">
                            <input type="checkbox" name="anhaengen" id="anhaengen">
                            <label for="anhaengen">Anhängen?</label>
                        </div>
                    </div>
                </div>
                <div class="sub">
                    <div class="input-group">
                        <button type="submit">Submit<i class="fa-solid fa-arrow-right"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="../../main.js"></script>
</body>
</html>