@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap');

/* variables start */

:root {
    --eerie-black: #181818;
    --raisin-black: #1D2028;
    --charleston-green: #202B2F;
    --outer-space-crayola: #2B3A40;
    --gray: #EBEBEB;
}

/* variables end */


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    position: fixed;
    background-color: #000;
    background-image: url('../res/svg/longcool.svg');
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: top 20%;
    width: 100%;
    height: 100%;
    font-weight: 700;
}

.vid {
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -10;
}

.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #EBEBEB; */
}

.background-signin {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.signin-container {
    position: relative;
    width: 400px;
    height: 500px;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.3);
    
    -webkit-backdrop-filter: blur(100px);
    -moz-backdrop-filter: blur(100px);
    -o-backdrop-filter: blur(100px);
    -ms-backdrop-filter: blur(100px);
    backdrop-filter: blur(100px);
    
    border-left: solid 1px rgb(150, 149, 149);
    border-top: solid 1px rgb(150, 149, 149);
    border-left-style: groove;
    border-top-style: groove;

    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);

    display: flex;
    flex-direction: column;
}


.kontakt-container form {
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.kontakt-container .form > * {
    z-index: 10;
}

.icon-placeholder {
    width: 100%;
    height: fit-content;
    font-size: 2.5em;
    position: absolute;
    top: 80px;
    color: var(--gray);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.content {
    width: 80%;
    height: auto;
    position: absolute;
    top: 170px;
}

.content .input-group {
    position: relative;
    width: auto;
    margin-top: 12px;
}

.content .input-group .input-text {
    font-size: 14px;
    position: relative;
    width: 100%;
    box-shadow: 0 0 5px;
    background: transparent;
    border-radius: 30px;
    border: 2px solid transparent;
    color: #fff;
    transition: .75s ease;
    padding: 18px 12px;
}

/* idk what it does */ /* I know now, while typing the border changes the color to blue*/
.content.input-group .input-text {
    filter: drop-shadow(0 0 4px rgb(0, 0, 0, 0.5));
}

.input-text:focus + .input-placeholder {
    top: 6px;
    font-size: 10px;
    transition: .1s ease;
    opacity: 1;
}

.input-text:valid + .input-placeholder {
    opacity: 0;
    transition: .75s ease;
}

.input-placeholder {
    position: absolute;
    font-size: 14px;
    top: 20px;
    left: 14px;
    color: #fff;
    letter-spacing: 0.1mm;
    opacity: 0.8;
    transition: .1s ease;
    cursor: auto;
}

.content .upload-submit {
    display: flex;
    align-items: center;
}

/* style of the button */
.upload-submit .btn-submit {
    appearance: none;
    border: none;
    outline: none;
    background: none;

    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    color: #fff;
    align-items: center;
    letter-spacing: 0.4mm;
    transition: .75s ease;
    border: 2px solid transparent;
    font-size: 14px;
    padding: 14px 22px;
    cursor: pointer;
    width: 60%;
    max-width: 150px;
    transition: .2s ease;
    border-radius: 8px;
} 

.upload-submit .btn-submit:hover, .upload-submit .btn-submit:focus {
    filter: drop-shadow(0 0 5px);
}

.upload-submit .btn-submit .fa-arrow-right {
    margin-top: 1px;
    margin-left: 5px;
    animation: arrow-right 2.5s infinite;
}

@keyframes arrow-right {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(3px);
    }
    25% {
        transform: translateX(5px);
    }
    75% {
        transform: translateX(3px);
    }
    to {
        transform: translateX(0);
    }
}

/* Action popup transition */
@keyframes scale {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}


@media screen {
    
}