table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
}
td {
    padding: 10px;
    text-align: center;
    line-height: 20px;
    border: 1px solid rgb(0, 0, 0);
}
th {
    background-color: rgb(136, 134, 238);
}
.small {
    width: 10%;
}