{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teamverwaltung</title>
    <link rel="stylesheet" href="{% static 'teamverwaltung_main/css/indexstyle.css' %}">
    <link rel="stylesheet" href="{% static 'teamverwaltung_main/css/global.css' %}">
    <script src="https://kit.fontawesome.com/aed942cfc8.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"
			integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
			crossorigin="anonymous"></script>
</head>
<body>
    <div id="start" class="start">
        <header>
            <h2><a class="fancy-link" target="_blank" rel="noopener noreferrer" href="https://www.htw-dresden.de">HTW Dresden</a></h2>
            <div class="effect">
                {% if user.is_authenticated %}
                    <b>Angemeldet als </b> {{ user.username }}
                    <a href="{% url 'logout' %}"><i class="fa-solid fa-right-to-bracket fa-2x" style="margin-left: 20px;"></i></a>
                    {% if user.groups.all.0.name == 'Dozent' %}
                    <a href="{% url 'themen_overview' %}"><i class="fa-solid fa-building fa-2x" style="margin-left: 20px;"></i></a>
                    {% endif %}
                {% else %}
                    <a href="{% url 'login' %}"><i class="fa-solid fa-right-to-bracket fa-2x" style="margin-left: 20px;"></i></a>
                {% endif %}   
            </div>
        </header>
        <div class="start-container">
            <div class="text">
                <h1 id="start">Teamverwaltung</h1>
                <h3>Modul Software Engineering</h3>
                <p>Im Rahmen des Moduls Software Engineering können Studenten auf dieser Website die verfügbaren Projekte einsehen, ihre Präferenzen und Wünsche dazu im Fragebogen abgeben und nach Veröffentlichung die Teams mit ihren Mitgliedern einsehen.</p>
            </div>
            <section>
                <div class="container">
                    <ul class="navi">
                        {% if sec_themen.activated == True %}
                        <li><a href="#projekte">Projekte</a></li>
                        {% endif %}
                        {% if sec_fragebogen.activated == True %}
                        <li><a href="#fragebogen">Fragebogen</a></li>
                        {% endif %}
                        {% if sec_teams.activated == True %}
                        <li><a href="#teamansicht">Teams</a></li>
                        {% endif %}
                        {% if user.is_authenticated %}
                        <li><a href="{% url 'logout' %}">Ausloggen</a></li>
                        {% endif %}
                    </ul>
                </div>
            </section>
        </div>
    </div>

    {% if sec_themen.activated == True %}
    <div class="themenansicht" id="startThemenansicht">
        <header>
            <h2 id="projekte">Projekte</h2>
            <a href="#fragebogen"><i class="fa-solid fa-angles-down"></i></a>
        </header>
        <div class="container">
            {% for project in projects %}
            <div class="cards">
                <div class="titel-placeholder">
                    <h3><a href="{{project.documentfile_url}}" style="font-size: 14pt;">{{ project.name }}</a></h3>
                    <div class="short-description-placeholder">
                        <p>
                            <b>Beschreibung: </b><br>{{ project.description }}
                            <br><br>
                            <b>Zuständiger: </b><br>{{ project.responsible }}
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    {% include 'teamverwaltung_main/utility/notify.html' %}
    {% block notify_success %}{% endblock %}

    <script>
        var topicsToCheck = [];
    </script>

    
    <script>
    {% for project in projects %}
        topicsToCheck.push({{project.pk}});
    {% endfor %}
    </script>
    
    {% if sec_fragebogen.activated == True %}
    <div class="fragebogen" id="startFragebogen">
        <header>
            <h2 id="fragebogen">Fragebogen</h2>
            <a href="#teams"><i class="fa-solid fa-angles-down"></i></a>   
        </header>
        <div class="container">
            <div class="choice" style="color: white;" id="questionnaireInfo">
                Der Fragebogen wurde von Ihnen bereits ausgefüllt. Ihre Antworten wurden geladen und können weiterhin bearbeitet werden.
            </div>
            <!--
            <div class="choice">
                <div class="content-container">
                    <div class="bezeichnung">
                        <p>Welchen Studiengang belegen Sie?</p>
                    </div>
                    <div class="cell-full">
                        <div class="dropdown">
                            <input type="text" class="textBox" placeholder="Wähle aus" readonly>
                            <div class="option">
                                <div onclick="show('Informatik')">Informatik</div>
                                <div onclick="show('Wirtschaftsinformatik')">Wirtschafts&shy;informatik</div>
                                <div onclick="show('Verwaltungsinformatik')">Verwaltungs&shy;informatik</div>
                                <div onclick="show('Wirtschaftsingenieurwesen')">Wirtschafts&shy;ingenieurwesen</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="divider"></div> -->
            <div class="choice">
                <div class="head" id="choice2"  onclick="openholder1()">
                    <h3>Projektpräferenz</h3>
                    <i class="fa-solid fa-angle-down"></i>
                </div>
                <div class="holder" id="firstholder">
                    <div class="erklaerung">
                        <span>In nachfolgender Matrix können Sie angeben, welches Thema Sie gern für das Belegprojekt bearbeiten wollen. Bitte beachten Sie, dass nicht zwingend alle Themen zustande kommen, so dass die Angabe einer zweiten Wahl sehr sinnvoll ist. <br><br> <b>Hinweis:</b> Themen mit einem Themensteller innerhalb der HTW haben eine ID beginnend mit "I", externe Themen sind mit einer ID gekennzeichnet, die mit "E" beginnt.</span>
                    </div>
                    <div class="content-container">
                        <div class="bezeichnung"></div>
                        <div class="cell-full"><p>schlechteste bis beste</p></div>
                    </div>
                    <div class="content-container">
                        {% for project in projects %}

                            <div class="bezeichnung drop"><span>{{ project.name }}</span></div>
                            <div class="cell-full">
                                <input type="radio" name="topic{{project.pk}}" data-rating="1">
                                <input type="radio" name="topic{{project.pk}}" data-rating="2">
                                <input type="radio" name="topic{{project.pk}}" data-rating="3" checked>
                                <input type="radio" name="topic{{project.pk}}" data-rating="4">
                                <input type="radio" name="topic{{project.pk}}" data-rating="5">
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="divider"></div>
            <div class="choice">
                <div class="head" id="choice3" onclick="openholder2()">
                    <h3>Tätigkeitsschwerpunkt</h3>
                    <i class="fa-solid fa-angle-down"></i>
                </div>
                <div class="holder" id="secondholder">
                    <div class="erklaerung">
                        <span>Bitte geben Sie an, welche Tätigkeiten Sie im Belegprojekt bevorzugt durchführen möchten. Sie können eine Wunschtätigkeit und eine Alternative angeben. <br><br> <b>Hinweis:</b> Diese Angaben dienen nur der Teambildung. Innerhalb des Teams können Sie über die Schwerpunkte und Aufgaben auch im Zeitverlauf frei entscheiden.</span>
                    </div>
                    <div class="content-container">
                        <div class="bezeichnung"></div>
                        <div class="cell-full"><p>schlechteste bis beste</p></div>
                    </div>
                    <div class="content-container">
                        <div class="bezeichnung drop"><span>Test</span></div>
                        <div class="cell-full">
                            <input type="radio" name="roleTest" data-rating="1">
                            <input type="radio" name="roleTest" data-rating="2">
                            <input type="radio" name="roleTest" data-rating="3" checked>
                            <input type="radio" name="roleTest" data-rating="4">
                            <input type="radio" name="roleTest" data-rating="5">
                        </div>
                        <div class="bezeichnung"><span>Implementierung</span></div>
                        <div class="cell-full">
                            <input type="radio" name="roleImplementation" data-rating="1">
                            <input type="radio" name="roleImplementation" data-rating="2">
                            <input type="radio" name="roleImplementation" data-rating="3" checked>
                            <input type="radio" name="roleImplementation" data-rating="4">
                            <input type="radio" name="roleImplementation" data-rating="5">
                        </div>
                        <div class="bezeichnung drop"><span>Entwurf</span></div>
                        <div class="cell-full">
                            <input type="radio" name="roleDesign" data-rating="1">
                            <input type="radio" name="roleDesign" data-rating="2">
                            <input type="radio" name="roleDesign" data-rating="3" checked>
                            <input type="radio" name="roleDesign" data-rating="4">
                            <input type="radio" name="roleDesign" data-rating="5">
                        </div>
                        <div class="bezeichnung"><span>Analyse</span></div>
                        <div class="cell-full">
                            <input type="radio" name="roleAnalytic" data-rating="1">
                            <input type="radio" name="roleAnalytic" data-rating="2">
                            <input type="radio" name="roleAnalytic" data-rating="3" checked>
                            <input type="radio" name="roleAnalytic" data-rating="4">
                            <input type="radio" name="roleAnalytic" data-rating="5">
                        </div>
                        <div class="bezeichnung drop"><span>Teamleiter</span></div>
                        <div class="cell-full">
                            <input type="radio" name="roleLeader" data-rating="1">
                            <input type="radio" name="roleLeader" data-rating="2">
                            <input type="radio" name="roleLeader" data-rating="3" checked>
                            <input type="radio" name="roleLeader" data-rating="4">
                            <input type="radio" name="roleLeader" data-rating="5">
                        </div>
                    </div>
                </div>
            </div>
            <div class="divider"></div>
            <div class="choice">
                <div class="head" id="choice4" onclick="openholder3()">
                    <h3>Einschätzung eigener Fähigkeiten</h3>
                    <i class="fa-solid fa-angle-down"></i>
                </div>
                <div class="holder" id="thirdholder">
                    <div class="erklaerung" style="margin-bottom: 30px;">
                        <span>
                            Optional: Bitte geben Sie nachfolgend eine grobe Einschätzung ihrer eigenen Fähigkeiten und Kenntnisse an. <br><br> <b>Hinweis:</b> Hierbei geht es nicht primär um ihre Studienergebnisse, sondern um ihren generellen Kenntnisstand und ihre Erfahrungen. Möglicherweise haben Sie durch eine Berufsausbildung, Werkstudententätigkeit, Praktika, Mitarbeit in Vereinen oder Opensourcen-Projekten us. besondere Kenntnisse erlangt, die für die Teambildung interessant sind.
                        </span>
                    </div>
                    <div class="content-container">
                        <div id="special-bez" class="bezeichnung special-bez"></div>
                        <div class="cell"><p>Solide Kennt&shy;nisse</p></div>
                        <div class="cell"><p>Grund Kennt&shy;nisse</p></div>
                        <div class="cell"><p>Geringe Kennt&shy;nisse</p></div>
                        <div class="cell"><p>Keine Kennt&shy;nisse</p></div>
                    </div>
                    <div class="content-container">
                        <div id="special-bez" class="bezeichnung special-bez drop">
                            <span>Objektorientierte Konzepte (Klassen, Vererbung, usw.)</span>
                        </div>
                        <div class="cell"><input type="radio" name="skilloop" data-rating="4" disable></div>
                        <div class="cell"><input type="radio" name="skilloop" data-rating="3" disable></div>
                        <div class="cell"><input type="radio" name="skilloop" data-rating="2" disable></div>
                        <div class="cell"><input type="radio" name="skilloop" data-rating="1" disable></div>
                        
                        <div id="special-bez" class="bezeichnung special-bez">
                            <span>Web-Technologien (HTML, CSS, HTTP, REST)</span>
                        </div>
                        <div class="cell"><input type="radio" name="skillweb" data-rating="4"></div>
                        <div class="cell"><input type="radio" name="skillweb" data-rating="3"></div>
                        <div class="cell"><input type="radio" name="skillweb" data-rating="2"></div>
                        <div class="cell"><input type="radio" name="skillweb" data-rating="1"></div>
    
                        <div id="special-bez" class="bezeichnung special-bez drop">
                            <span>Objektorientierte Programmiersprachen, z.B. Java, C#, C++</span>
                        </div>
                        <div class="cell"><input type="radio" name="skillooplang" data-rating="4"></div>
                        <div class="cell"><input type="radio" name="skillooplang" data-rating="3"></div>
                        <div class="cell"><input type="radio" name="skillooplang" data-rating="2"></div>
                        <div class="cell"><input type="radio" name="skillooplang" data-rating="1"></div>
    
                        <div id="special-bez" class="bezeichnung special-bez">
                            <span>Skriptsprachen, z.B. Python, Ruby, PHP, JavaScript</span>
                        </div>
                        <div class="cell"><input type="radio" name="skillscript" data-rating="4"></div>
                        <div class="cell"><input type="radio" name="skillscript" data-rating="3"></div>
                        <div class="cell"><input type="radio" name="skillscript" data-rating="2"></div>
                        <div class="cell"><input type="radio" name="skillscript" data-rating="1"></div>
                        
                        <div id="special-bez" class="bezeichnung special-bez drop">
                            <span>Web-Frameworks, z.B. Spring, ASP.NET, Django, Node.js</span>
                        </div>
                        <div class="cell"><input type="radio" name="skillwebframeworks" data-rating="4"></div>
                        <div class="cell"><input type="radio" name="skillwebframeworks" data-rating="3"></div>
                        <div class="cell"><input type="radio" name="skillwebframeworks" data-rating="2"></div>
                        <div class="cell"><input type="radio" name="skillwebframeworks" data-rating="1"></div>
    
                        <div id="special-bez" class="bezeichnung special-bez">
                            <span>Datenbanken, z.B. MySQL, MS SQL Server, MongoDB</span>
                        </div>
                        <div class="cell"><input type="radio" name="skilldb" data-rating="4"></div>
                        <div class="cell"><input type="radio" name="skilldb" data-rating="3"></div>
                        <div class="cell"><input type="radio" name="skilldb" data-rating="2"></div>
                        <div class="cell"><input type="radio" name="skilldb" data-rating="1"></div>
    
                        <div id="special-bez" class="bezeichnung special-bez drop">
                            <span>Modellierungssprachen, z.B. EPK, BPMN, UML </span>
                        </div>
                        <div class="cell"><input type="radio" name="skillmodelling" data-rating="4"></div>
                        <div class="cell"><input type="radio" name="skillmodelling" data-rating="3"></div>
                        <div class="cell"><input type="radio" name="skillmodelling" data-rating="2"></div>
                        <div class="cell"><input type="radio" name="skillmodelling" data-rating="1"></div>
                        
                        <div id="special-bez" class="bezeichnung special-bez">
                            <span>Gestaltung on Benutzeroberflächen (UI-Design)</span>
                        </div>
                        <div class="cell"><input type="radio" name="skillui" data-rating="4"></div>
                        <div class="cell"><input type="radio" name="skillui" data-rating="3"></div>
                        <div class="cell"><input type="radio" name="skillui" data-rating="2"></div>
                        <div class="cell"><input type="radio" name="skillui" data-rating="1"></div>
    
                        <div id="special-bez" class="bezeichnung special-bez drop">
                            <span>Projekt-, Risiko-, Qualitätsmanagement, Personalführung</span>
                        </div>
                        <div class="cell"><input type="radio" name="skillmanagement" data-rating="4"></div>
                        <div class="cell"><input type="radio" name="skillmanagement" data-rating="3"></div>
                        <div class="cell"><input type="radio" name="skillmanagement" data-rating="2"></div>
                        <div class="cell"><input type="radio" name="skillmanagement" data-rating="1"></div>
    
                        <div id="special-bez" class="bezeichnung special-bez">
                            <span>Softwareentwicklung in Projektarbeit</span>
                        </div>
                        <div class="cell"><input type="radio" name="skillteamwork" data-rating="4"></div>
                        <div class="cell"><input type="radio" name="skillteamwork" data-rating="3"></div>
                        <div class="cell"><input type="radio" name="skillteamwork" data-rating="2"></div>
                        <div class="cell"><input type="radio" name="skillteamwork" data-rating="1"></div>
                        
                        <div id="special-bez" class="bezeichnung special-bez drop">
                            <span>Softwareentwicklung in Einzelarbeit</span>
                        </div>
                        <div class="cell"><input type="radio" name="skilldeveloper" data-rating="4"></div>
                        <div class="cell"><input type="radio" name="skilldeveloper" data-rating="3"></div>
                        <div class="cell"><input type="radio" name="skilldeveloper" data-rating="2"></div>
                        <div class="cell"><input type="radio" name="skilldeveloper" data-rating="1"></div>
    
                        <div id="special-bez" class="bezeichnung special-bez">
                            <span>Versionsverwaltung mit Git</span>
                        </div>
                        <div class="cell"><input type="radio" name="skillgit" data-rating="4"></div>
                        <div class="cell"><input type="radio" name="skillgit" data-rating="3"></div>
                        <div class="cell"><input type="radio" name="skillgit" data-rating="2"></div>
                        <div class="cell"><input type="radio" name="skillgit" data-rating="1"></div>
    
                        <div id="special-bez" class="bezeichnung special-bez drop">
                            <span>Testing, z.B. Testfälle, Testabdeckung, JUnit, Selenium</span>
                        </div>
                        <div class="cell"><input type="radio" name="skilltest" data-rating="4"></div>
                        <div class="cell"><input type="radio" name="skilltest" data-rating="3"></div>
                        <div class="cell"><input type="radio" name="skilltest" data-rating="2"></div>
                        <div class="cell"><input type="radio" name="skilltest" data-rating="1"></div>
                    </div> <!-- skillOOP, skillWeb, skillOOPLang, skillScript, skillWebFrameworks, skillDB, skillModelling, skillUI, skillManagement, skillTeamwork, skillSingleDeveloper, skillGit, skillTeamwork-->
                </div>
            </div>
            <button type="button" id="sendQuestionnaire">Absenden</button>
        </div>
    </div>
    {% endif %}

    <script>
        var poll_project = JSON.parse('{{ poll_projects|escapejs }}');
        var poll_role = JSON.parse('{{ poll_roles|escapejs }}');
        var poll_skill = JSON.parse('{{ poll_skills|escapejs }}');


        if(Object.keys(poll_project).length != 0 || 
           Object.keys(poll_role).length != 0 ||  
           Object.keys(poll_skill).length != 0 ){
            $("#questionnaireInfo").css("display", "block");
            
            // projektantworten setzen
            for(var key in poll_project){
                var radioProject = document.querySelector("input[name='topic" + key + "'][data-rating='" + poll_project[key] + "']");
                radioProject.checked = true;
            }

            // rollenantworten setzen
            document.querySelector("input[name='roleTest'][data-rating='" + poll_role["Test"] + "']").checked = true;
            document.querySelector("input[name='roleImplementation'][data-rating='" + poll_role["Implementierung"] + "']").checked = true;
            document.querySelector("input[name='roleDesign'][data-rating='" + poll_role["Entwurf"] + "']").checked = true;
            document.querySelector("input[name='roleAnalytic'][data-rating='" + poll_role["Analyse"] + "']").checked = true;
            document.querySelector("input[name='roleLeader'][data-rating='" + poll_role["Teamleiter"] + "']").checked = true;

            // fähigkeitenantworten setzen
            for(var key in poll_skill){
                console.log(key + ": " + poll_skill[key]);

                var radioSkill = document.querySelector("input[name='skill" + key + "'][data-rating='" + poll_skill[key] + "']");
                radioSkill.checked = true;
            }
        }

    </script>

    {% if sec_fragebogen_readonly.activated == True %}
    <script>
        $("input:radio").prop("disabled", true);
    </script>
    {% endif %}

    {% if sec_teams.activated == True %}
    <div class="teamansicht">
        <header>
            <h2 id="teams">Teams</h2>
        </header>
        <div class="container">

            {% if not teams %}
            <h2>Keine Teams vorhanden</h2>
            {% else %}
            {% regroup teams by project.name as assignments_by_project %}
            
            {% for assignment in assignments_by_project %}
            <div class="cards" >
                <div class="titel-placeholder">
                    <h3>{{ assignment.grouper }}</h3>
                    <div class="teammember-placeholder">
                        {% for a in assignment.list %}
                        <div class="teammember"><p>{{ a.student.name }}</p></div>                        
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
    {% endif %}

    <div class="puffer"></div>

    <div class="sticky-nav-container">
        <div class="sticky-nav">
            <a href="#start">Start</a>
            {% if sec_themen.activated == True %}
            <a href="#projekte">Projekte</a>
            {% endif %}
            {% if sec_fragebogen.activated == True %}
            <a href="#fragebogen">Fragebogen</a>
            {% endif %}
            {% if sec_teams.activated == True %}
            <a href="#teams">Teams</a>
            {% endif %}
        </div>
    </div>

    <a href="#start"><i class="fa-solid fa-arrow-up"></i></a>

    <script src="{% static 'teamverwaltung_main/js/modals.js' %}"></script>
    <script src="{% static 'teamverwaltung_main/js/questionnaire.js' %}"></script>
    <script src="{% static 'teamverwaltung_main/js/script.js' %}"></script>
</body>
</html>