{% block pollprogress %}
    <div style="margin-left: auto; margin-right:auto; width: 75%; max-width: 1440px;">
        <span id="totalPolls" style="float: left; margin-left: 10%;"><b>Anzahl Studenten:</b></span id><span id="currentPolls" style="float: right; margin-right: 10%"><b>Anzahl ausgef. Fragebögen:</b> </span><br/>
        <progress value="0" id="pollprogress" max="100" style="width: 100%">0</progress>
    </div>

    <script>
        $.ajax({
            url: "pollprogress",
            type: "GET",
            success: function(response){
                $("#pollprogress").val(response.share);
                $("#totalPolls").html("<b>Anzahl Studenten:</b> " + response.pollsTotal);
                $("#currentPolls").html("<b>Anzahl ausgef. Fragebögen:</b> " + response.pollsCurrent);
            }
        });
    </script>
{% endblock %}